body{
	margin: 0;
	
}

header{
	background-color: lightblue;
}

#main{
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
}
.container{
	max-width: 800px;
	margin: 0 auto;
}

.logo{
	float: left;
	margin-right: 10px;
	width: 100px;
	height: 100px;
}

.menu a{
	text-decoration: none;
	margin: 10px;
}
.menu{
	background-color: lightblue;
	margin: 0 auto;
	margin-top: 40px;
	padding: 20px;
	text-align: center;
}

#references{
	background-color: lightblue;
	margin: 0 auto;
	margin-top: 40px;
	padding: 20px;
}

#table{
	background-color: lightblue;
	margin: 0 auto;
	margin-top: 40px;
	padding: 20px;
}

table{
	background-color: red;
}

.odd{
	background-color: white;
}

caption{
	caption-side: bottom;
	text-align: right;
}

#form{
	background-color: lightblue;
	margin: 20px auto;
	margin-top: 40px;
	padding: 20px;
}

footer{
	background-color: lightblue;
}